<div id="wrapper">
    <h1>Note Scraper</h1>
    <h2><i>Please feel free to click an article and leave a comment</i></h2>
    <div>
    <div id="articles">
        {{#each article}}
            <p data-id="{{_id}}">
                {{title}}</p>
            <p data-id="{{_id}}">
                {{img}}</p>
            <a href="{{link}}"></a>
            {{#if Comment}}
            <button id="deletebutton" data-id = {{Comment}} type="submit">Delete</button>
            {{/if}}
        {{/each}}
    </div>
    <div id="comments"></div>
</div>

